:root{
    --font: Raleway;
    --white_color: #fff;
    --green_dark: #50614A;
    --green_light: #ACCEB0;
    --green_complementarie:#74B88B;
    --title_mobile: 1.5rem;
    --title_desktop: 3.25rem;
    --text_mobile: 1rem;
    --text_links_mobile:0.875rem;
    --text_desktop: 1.375rem;
    --title_weight: bold;
    --link_weight: 600;
    --text_weight: 400;
    --padding_mobile: 3rem 2rem;
    --padding_desktop: 4rem;
}