.about__me__container{
    gap: 3rem;
    display: flex;
    height: 18rem;  
    align-items: center;
    font-family: var(--font); 
    flex-direction: column;
    justify-content: space-evenly;
    background-size: cover;
    color: var(--green_dark);
    background-repeat: no-repeat;
    padding: var(--padding_mobile);
    background-image: url('../../../images/shop-bg.png');
}

.about__me__menu{visibility: hidden; display: none;}

.about__me__container-info{
    gap:3rem;
    display: flex;
    max-width: 900px;
    justify-content: space-between;
}

.about__me__info{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__me__info-title{
    text-align: justify;
    font-weight: var(--title_weight);
    font-size: calc(var(--title_mobile) + 1vw);
}

.about__me__info-text{text-align: justify;font-size: var(--text_mobile);}

.about__me__info-photo{ display: none;}

.about__me__links{gap: 1rem}

.about__me__link{
    color: var(--green_dark);
    font-weight: var(--link_weight);
    font-size: var(--text_links_mobile);   
}

.about__me__link-icon{ font-size: .8rem}

@media screen and (min-width:1024px) and (max-width:1920px){
    .about__me__container{padding: var(--padding_desktop)}
    .about__me__info-photo{display: flex;width: 15.5rem;}
    .about__me__menu{
        gap: 3rem;
        display: flex;
        visibility: visible;
        justify-content: center;
    }
}